{% extends 'website/base.html' %}
{% load bootstrap_icons %}

{% block title %} Otuleni miłością | Pytania i odpowiedzi {% endblock %}

{% block content %}
<section class="main__faq" id="main-faq">
    <h1>Częste pytania - chustonoszenie</h1>
    <ul>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Od kiedy mogę zacząć nosić w chuście? </span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Od pierwszych dni życia dziecka</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Czy muszę kupić chustę przed spotkaniem?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Nie, chustę najlepiej dobrać podczas konsultacji. Dostosowujemy ją do parametrów rodzica, dziecka i wybranego wiązania. Jeśli już masz w domu chustę, to przygotuj ją na spotkanie.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Jak mam przygotować się na spotkanie?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Ubierz się wygodnie (koszulka nie powinna posiadać żadnych ozdób), zdejmij biżuterię, zepnij włosy, nakarm dziecko i ubierz je w body z odkrytymi stópkami.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Gdzie odbywa się konsultacja?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>U Państwa w domu. Zaletą tego rozwiązania jest brak zmiany otoczenia, dzięki temu zarówno Państwo jak i maluch czujecie się swobodniej, a wszystkie potrzebne rzeczy do np. przewinięcia, nakarmienia macie pod ręką.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Jak długo mogę nosić w chuście?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>W chuście długiej czas motania jest nieograniczony, więc nosimy tyle czasu ile potrzebujemy my i nasze dziecko, natomiast w chuście kółkowej powinniśmy po 45 minutach zmienić ramię.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Do jakiego wieku dziecka mogę nosić w chuście?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Wiek dziecka nie jest ograniczeniem. Nosimy tak długo jak tego potrzebujemy.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Czy w chuście mogę wyjść na spacer?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Oczywiście, że tak! Chusta jest świetnym narzędziem do noszenia dzieci, w szczególności tam gdzie wózek się nie sprawdza. Spacer po lesie, nad morzem, wycieczka w góry w każdym z tych przykładów możesz spędzać czas w duecie.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Jak chustonoszenie wpływa na rozwój kręgosłupa i bioderek?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Dziecko w chuście leży na brzuszku, a jego miednica jest podwinięta, dzięki czemu ciężar ciała przekłada się na noszącego, a kręgosłup malucha jest odciążony. Nóżki ustawione są w pozycji zgięciowo-odwiedzeniowej, która jest uznawana za bezpieczną i wspierającą rozwój stawu biodrowego przez Międzynarodową Instytucję ds Dysplazji Stawów Biodrowych. Dlatego, nosić w chuście można zarówno noworodki, jak i wcześniaki.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Czy żeby zacząć motać, dziecko musi być po USG stawu biodrowego?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Nie, ponieważ prawidłowo zamotane dziecko ma ułożone nóżki w pozycji zgięciowo-odwiedzeniowej, która jest uznawana za bezpieczną i wspierającą rozwój stawu biodrowego przez Międzynarodową Instytucję ds Dysplazji Stawów Biodrowych.</span>
                </div>
            </li>
        </div>
        <div class="question__answer">
            <li>
                <div class="faq__question">
                    <span>Czy mogę nosić w chuście jeśli mam problemy z kręgosłupem np. skoliozę?</span>
                    <span class="faq__icon"><i>{% bs_icon 'plus' size='1.2em'%}</i></span>
                </div>
                <div class="faq__answer">
                    <span>Nieprawidłowa budowa lub urazy kręgosłupa nie wykluczają chustonoszenia, ale żeby było to bezpieczne dla noszącego wymagana jest współpraca ze specjalistą np. fizjoterapeutą/ortopedą oraz dobranie wiązania, które nie będzie obciążało danego odcinka kręgosłupa.</span>
                </div>
            </li>
        </div>
    </ul>
</section>
{% endblock %}